@media(max-width:1200px) {
    .container {
        max-width: 980px;
    }

    .header {
        &__content {
            margin-top: 80px;

            &::before {
                left: 0;
                top: 325;
            }

            &::after {
                right: 0;
                top: 325;
            }
        }
    }

    .master {
        &__wrapper {
            flex-direction: column;
            gap: 100px 0;
        }

        &__desc {
            width: 80%;
        }

        &__teacher {
            width: 80%;
            margin: 0;

            &-inner {
                gap: 50px;
            }
        }
    }

    .choose {
        &__desc {
            width: 40%;
        }
    }

    .popular {
        &__item {
            width: 30%;
            justify-content: center;
        }
    }

    .connect {
        &__desc {
            width: 60%;
            background: rgba($color: $primarycolor, $alpha: 0.8);
        }
    }

    .footer {
        &__wrapper {
            width: 90%;
            margin: 0 100;
            flex-direction: column;
            gap: 80px 0;
            position: relative;
        }

        &__desc {
            width: 50%;
        }

        &__inner {
            margin: 0 auto;
        }

        &__contact {
            position: absolute;
            top: 0;
            right: 50px;
        }

        &__info {
            padding-right: 50px;
        }
    }
}

@media(max-width:991px) {
    .container {
        max-width: 760px;
        margin: 0 auto;
    }

    .header {
        &__social {
            top: 0;
        }

        &__btn {
            margin-top: 20px;
        }
    }

    .offer {
        &__inner {
            flex-wrap: wrap;
            gap: 30px 0;
        }

        &__item {
            width: 30%;
        }
    }

    .choose {
        &__img {
            margin-left: 150px;
        }

        &__wrapper {
            flex-direction: column;
            text-align: center;
        }

        &__desc {
            width: 80%;
            margin: 50 auto;

            &-btn {
                margin: 50 auto;
            }
        }
    }

    .popular {
        &__item {
            width: 40%;
            margin: 0 auto;
        }
    }

    .connect {
        &__desc {
            width: 100%;
            text-align: center;

            &-btn {
                margin: 50px auto;
            }
        }
    }

    .footer {
        &__social {
            gap: 130px;
        }

        &__inner {
            margin: 0;
        }
    }
}

@media(max-width:767px) {
    .container {
        max-width: 530px;
        margin: 0 auto;
    }

    .burger {
        width: 30px;
        height: 30px;
        position: relative;
        top: 32px;
        margin-left: 450px;
        transition: all .5s;

        span {
            width: 100%;
            height: 3px;
            background-color: $textcolor;
            position: absolute;
            border-radius: 10px;

            &:first-child {
                top: 7;
            }

            &:last-child {
                top: 14;
            }
        }

        &--active span {
            &:first-child {
                top: 10;
                transform: rotate(-45deg);
            }

            &:nth-child(2) {
                display: none;
            }

            &:last-child {
                top: 10;
                transform: rotate(45deg);
            }
        }

    }

    .header {
        position: relative;

        &__list {
            position: absolute;
            right: 0;
            top: 0;
            transform: scale(0);
            width: 100%;
            padding: 30px 0 15;
            border-radius: 20px;
            transition: all .3s;
            background-color: $secondarycolor;

            &-item {
                margin-right: 15;
                cursor: pointer;
                transition: all .3s;

                &:hover {
                    text-decoration: underline;
                }
            }

            &--active {
                transform: scale(1);
            }
        }

        &__content {
            &::before {
                left: 0;
                top: 400;
            }

            &::after {
                right: 0;
                top: 400;
            }
        }

        &__social {
            display: flex;
            top: -80;
            gap: 30px;
            left: 20px;
        }

        &__wrapper {
            padding: 20px;
        }

        &__btn {
            margin-top: 50px;
        }

        &__title {
            font-size: 42px;
        }
    }

    .offer {
        &__item {
            width: 40%;
        }
    }

    .master {
        &__desc {
            &-title {
                font-size: 45px;
            }
        }

        &__teacher {
            margin-right: 90px;
        }

        &__item {
            width: 80px;
            margin: 20;
        }
    }

    .choose {
        &__img {
            width: 20%;
            margin-left: 10px;
        }

        &__desc {
            &-title {
                font-size: 45px;
            }
        }
    }

    .popular {
        &__title {
            font-size: 45px;
        }

        &__item {
            width: 55%;
        }
    }

    .connect {
        &__desc {
            &-title {
                font-size: 40px;
            }
        }
    }

    .footer {
        &__wrapper {
            width: 100%;
            margin: 0 20;
        }
        &__social{
            gap: 50px;
        }
        &__inner{
            gap: 30px;
        }
    }
}

@media(max-width:535px){
    .container{
        max-width: 450;
        margin: 0 auto;
    }
    .burger{
        margin-left: 400px;
    }
    .header{
        height: 950px;
        &__list{
            flex-wrap: wrap;
            padding-bottom: 0;
        }
        &__wrapper{
            margin-top: 150px;
        }
        &__social{
            top: -145px;
        }
        &__content {
            &::before {
                width: 270px;
                left: 0;
                top: 400;
            }

            &::after {
                width: 200px;
                right: 0;
                top: 400;
            }
        }
    }
    .master{
        &__teacher{     
         &-inner{
            flex-wrap: wrap;
            justify-content: space-between;
         }
        }
    }
    .choose{
        &__img{
           transform: scale(0.8);
        }
    }
   
}