.popular {
    padding: 120px 0;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
        gap: 30px;
    }

    &__item {
        width: 23%;
        height: 226px;
        box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
        border-radius: 10px;
        text-align: center;
        padding: 20px;

        &-text {
            margin-top: 10px;
        }
    }

    &__btn {
        margin-top: 60px;
    }
}